
@external alert*, body*, dialog*, gwt*, list*, navigation*, ons*, page*, picker*, span;

@def TOOLBAR_COLOR rgb(255, 255, 255);

@def TOOLBAR_BACKGROUND rgb(22, 122, 198);


ons-toolbar, .navigation-bar {
  background-color: TOOLBAR_BACKGROUND;
  background: TOOLBAR_BACKGROUND;
}

ons-toolbar *, .ons-toolbar .navigation-bar__title {
  color: TOOLBAR_COLOR;
}

.ons-toolbar .navigation-bar__title {
  font-weight: 800;
  line-height: 44px;
  text-transform: uppercase;
  font-family: 'Helvetica Neue','Segoe UI',Helvetica,Verdana,san-serif;
  margin-top: -2px;
}

.ons-toolbar .navigation-bar__title {
  position: absolute;
  left: 14%;
}

.ons-toolbar .navigation-bar__left {
  position: absolute;
  left: 2%;
}

.ons-toolbar .navigation-bar__right {
  position: absolute;
  right: 4%;
}

.ons-button {
  width: 98%;
  margin-left: 1%;
  margin-top: 1%;
  text-align: center;
  min-height: 2.6em;
  
  border: 1px solid #16a8c2;
  border-radius: 7px;
  background-color: #14b9d6;
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#28c8df),color-stop(100%,#14b9d6));
  box-shadow: 0 1px 5px 0px #d7d8d9, inset 0 0px 2px 0px #8ee1ee;
  font-weight: bold;
  font-size: 1.02em;
  line-height: 2.0em;
  
  margin-bottom: 0.6%;
  
  padding-bottom: 0.2em;
}

.ons-button .ons-icon {
  margin-right: 0.5em;
}

.ons-inline-label {
  display: inline;
}

.ons-button-waiting span {
  opacity: 0.9 !important;
  position: absolute;
  right: 0.5em;
  top: 0.5em;
}

.ons-toolbar-button-waiting span {
  opacity: 0.9 !important;
}

.ons-toolbar-button-waiting-icon {
  width: 1.8em;
  height: 1.8em;
  padding-top: 0.3em;
}

.ons-bottom-dialog .dialog {
  bottom: 1%;
  top: initial;
  text-align: center;
}

.ons-waiting-dialog .dialog {
  bottom: 1%;
  top: initial;
  text-align: center;
  min-height: initial;
}

.ons-fadein {
  opacity: 0;
}

.ons-back-button {

}

.ons-back-button-realign {
  /* NON SERVE PIU
  margin-left: -10px;
  */
}

ons-alert-dialog {
  background-color: rgb(255, 255, 255) !important;
  background: rgb(255, 255, 255) !important;
}

.alert-dialog-title {
  font-size: 19px;
  font-weight: 600;
  padding-bottom: 6px;
  border-bottom: 1px solid #eee;
  margin-bottom: 8px;
}

.alert-dialog-content {
  padding-bottom: 14px;
}

.alert-dialog-footer {
  display: flex;
}

.ons-searchbox:focus {
  background-color: transparent;
  border: none;
}

.list__item--chevron:active {
  background-color: rgb(232, 242, 254);
}

@eval waitingDivWidth it.mate.onscommons.client.ui.theme.DefaultTheme.getWaitingDivWidth();

.ons-waiting-div {
  position: absolute;
  border: none;
  right: 12px;
  padding-top: 2px;
  width: waitingDivWidth;
  background-color: #167ac6;
  background: #167ac6;
}

.ons-waiting-div-icon {
  width: 36px;
  height: 36px;
}

.ons-list-noborder {
  border: none;
}

.ons-page .picker__select--month, .ons-page .picker__select--year {
  height: 2.2em;
}

ons-dialog .page__content.ons-page-inner {
  background-color: white !important;
}

ons-dialog .dialog.dialog_anti_font_blur_correction {
  position: absolute;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

@eval onsDialogComboHeight it.mate.onscommons.client.ui.OnsDialogCombo.getDialogHeight();

@eval onsDialogComboWidth it.mate.onscommons.client.ui.OnsDialogCombo.getDialogWidth();

.ons-combo-dialog .dialog {
  min-height: onsDialogComboHeight;
  min-width: onsDialogComboWidth;
  border: 2px solid #38F4FA;
}

.ons-combo-dialog ons-page.page {
  margin: 0.2em;
}

.ons-combo-dialog-carousel {
  height: 100%;
}

@eval onsDatePickerHeight it.mate.onscommons.client.utils.OnsDatePicker.getDialogHeight();

@eval onsDatePickerWidth it.mate.onscommons.client.utils.OnsDatePicker.getDialogWidth();

.ons-date-picker-dialog .dialog {
  min-width: onsDatePickerWidth;
  min-height: onsDatePickerHeight;
  background-color: #fff;
}

.ons-date-picker-dialog .page__content.ons-page-inner {
  padding: 0.5em 0.2em;
}

.ons-date-picker-dialog table {
  text-align: center;
}

.ons-date-picker-carousel {
  width: 100%;
  height: 80%;
}

.ons-date-picker-header {
  width: 100%;
}

.ons-date-picker-header table {
  margin-bottom: 0.2em;
  margin: 0em 0.8em;
}

.ons-date-picker-header table tr {
  background-color: #eee;
}

@if (it.mate.onscommons.client.ui.theme.DefaultTheme.isWidthLessThanOrEqualTo(320)) {
  .ons-date-picker-header-month input {
    width: 6em;
  }
} @else {
  .ons-date-picker-header-month input {
    width: 7em;
  }
}

.ons-date-picker-header-year input {
  width: 5em;
}

.ons-date-picker-header ons-icon {
  color: #777;
}

.ons-date-picker-month-days-header td {
  padding-top: 0.5em;
}

.ons-date-picker-month-table {
  width: 100%;
}

.ons-date-picker-month-day {
  font-size: 1.2em;
  text-align: center;
  color: #000;
}

.ons-date-picker-month-day span {
  position: relative;
  top: 20%;
}

.ons-date-picker-month-day.ons-date-picker-selected {
  background-color: #61CEF3;
  color: #fff;
}

.ons-date-picker-footer {
  width: 92%;
  position: absolute;
  height: 12%;
  bottom: 0;
}

.ons-date-picker-footer span {
  padding-left: 0.1em;
}

.ons-date-picker-footer-today ons-icon {
  color: #00f;
}

.ons-date-picker-footer-set ons-icon {
  color: #0f0;
}

.ons-date-picker-footer-close ons-icon {
  color: #444;
}

/*
   MODIFICHE ONSEN 2
*/

@if (it.mate.onscommons.client.onsen.OnsenUi.isVersion2()) {

  .page__content {
    background-color: #f9f9f9 !important;
  }
  
  ons-scroller {
    overflow-y: auto;
  } 

  .list__item--material > div {
    padding: 0;
  }

  @if (it.mate.onscommons.client.ui.theme.DefaultTheme.isIOs()) {
	
    body {
      margin-top: 0px !important;
    }
	
    .ons-toolbar .navigation-bar__title {
      margin-top: 0px;
    }
  
    .ons-waiting-div {
      padding-top: 4px;
      top: 20px;
      height: 40px !important;
    }
    
    .dialog-mask {
      margin-top: 64px !important;
    }
	
  } @else {
  
	.ons-toolbar .navigation-bar__title {
      margin-top: 5px;
    }

    .ons-waiting-div {
      padding-top: 8px;
    }
    
    .dialog-mask {
      margin-top: 56px !important;
    }
	
  }
  
}

